body {
  background-color: #292f4a;
  color: orange;
}

div {
  text-align: center;
}

pre {
  display: inline-block;
  text-align: left;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
